.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #E08307, #3e2808);
  color: white;
  animation: fadeIn 2s ease-in-out;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
}

.App-header {
  background-color: black;
  padding: 50px 20px;
  color: white;
  border-bottom: 5px solid #E08307;
  position: relative; /* Ensure logo stays inside the header */
}

.animated-heading {
  animation: slideInDown 1s ease-out;
  color: white;
}

.report-button {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.report-button:hover {
  background-color: #c70000; /* Darker Red */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.map-section {
  margin: 20px;
}

.map-container {
  height: 400px;
  background-color: #f5f5f5;
  border: 2px solid #E08307;
  margin: auto;
  max-width: 90%;
}

.statistics-section {
  background-color: black; /* Black Background */
  padding: 30px;
  border-top: 5px solid #E08307; /* Orange Border */
  animation: bounceInUp 1s ease-out;
  color: white;
  text-align: center;
  margin-top: auto; /* Pushes the section to the bottom */
}

.statistics-section h3 {
  color: #E08307; /* Orange Text */
}

.login-button {
  background-color: rgb(232, 163, 17);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.login-button:hover {
  background-color: #333;
}

/* Logo styles */
.logo {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 200px;  /* Adjust the size of the logo */
  height: auto;
}

/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes bounceInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
